@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap');
*{
  font-family: 'Akshar', sans-serif;
}
.u-section-1 .u-sheet-1 {
  min-height: 807px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 21px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 765px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
  margin-bottom: 1px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 28px 3px 0 -3px;
  font-family: 'Akshar', sans-serif;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  line-height: 2.2;
  font-weight: 500;
  margin: 17px -3px 0 3px;
  font-family: 'Akshar', sans-serif;
  
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 255px;
  background-image: url("images/5-Tips-to-Accelerate-Business-Growth-1280x720.png");
  background-position: 50% 50%;
  margin: 76px auto 0 -3px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 765px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0 50px;
}

.u-section-1 .u-shape-1 {
  width: 152px;
  height: 152px;
  margin: 186px 358px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 33px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 631px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 583px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
    margin-right: 254px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 160px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 670px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 59px;
    margin-left: -14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 674px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    line-height: 1;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: -1px;
    margin-right: -1px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 314px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 96px auto 1px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 153px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 153px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 153px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 153px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 947px;
  }

} .u-section-4 {
  min-height: 859px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 88px 200px 0;
}

.u-section-4 .u-shape-1 {
  height: 200px;
  margin: 168px auto 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1140px;
  margin: -324px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
  min-height: 661px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-4 .u-image-1 {
  width: 229px;
  height: 229px;
  background-image: url("images/default.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 20px 25px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-4 .u-image-2 {
  width: 229px;
  height: 229px;
  background-image: url("images/default.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-2 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 20px 25px;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 160px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

.u-section-4 .u-icon-6 {
  height: 100%;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-4 .u-image-3 {
  width: 229px;
  height: 229px;
  background-image: url("images/default.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-3 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 20px 25px;
}

.u-section-4 .u-text-8 {
  font-size: 1.875rem;
  margin: 0 85px 0 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 81px 0 0;
}

.u-section-4 .u-text-10 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-4 .u-icon-7 {
  height: 100%;
}

.u-section-4 .u-icon-8 {
  height: 100%;
}

.u-section-4 .u-icon-9 {
  height: 100%;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-4 .u-image-4 {
  width: 229px;
  height: 229px;
  background-image: url("images/default.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-4 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 0 20px 25px;
}

.u-section-4 .u-text-11 {
  font-size: 1.875rem;
  margin: 0 70px 0 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 116px 0 0;
}

.u-section-4 .u-text-13 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-4 .u-icon-10 {
  height: 100%;
}

.u-section-4 .u-icon-11 {
  height: 100%;
}

.u-section-4 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 958px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-1 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-1 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-2 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-2 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-3 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-3 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-4 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-4 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 79px;
    margin-right: 79px;
  }

  .u-section-4 .u-shape-1 {
    height: 800px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-top: -924px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-1 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-2 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-3 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-4 {
    width: 397px;
    margin-top: -243px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-1 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-2 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-2 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-3 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-3 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-4 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-4 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-1 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-2 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-4 .u-social-icons-2 {
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-3 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-4 .u-social-icons-3 {
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-4 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-11 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-12 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-4 .u-social-icons-4 {
    margin-left: auto;
  }
}
/* new */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0c3bd4;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}