.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/b645fcd2a5b5047b27c73533f191d2bb.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 493px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 493px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  height: 321px;
  width: 321px;
  background-image: none;
  margin: 171px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 472px;
  height: 472px;
  background-image: url("images/Standbyambulanceisacrucialrequirementateveryworkplace.jpg");
  background-position: 50% 50%;
  margin: -559px auto 0 51px;
}

.u-section-1 .u-slider-1 {
  min-height: 477px;
  width: 524px;
  margin: -485px auto 60px 8px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: 436px;
  left: 69px;
  right: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 65px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 27px 70px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 51px auto 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: -9px;
  top: 208px;
  right: auto;
  position: absolute;
}

.u-section-1 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  top: 208px;
  right: 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-1 .u-shape-1 {
    height: 313px;
    width: 313px;
    margin-top: 132px;
  }

  .u-section-1 .u-image-1 {
    width: 449px;
    height: 449px;
    margin-top: -515px;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-1 .u-slider-1 {
    width: 462px;
    height: auto;
    margin-top: -523px;
    margin-bottom: 39px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 37px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-1 .u-shape-1 {
    height: 290px;
    width: 290px;
    margin-top: 159px;
  }

  .u-section-1 .u-image-1 {
    height: 347px;
    width: 347px;
    margin-top: -473px;
    margin-right: auto;
  }

  .u-section-1 .u-slider-1 {
    min-height: 482px;
    width: 336px;
    margin-top: -482px;
    margin-bottom: -8px;
    margin-left: 0;
  }

  .u-section-1 .u-carousel-indicators-1 {
    top: auto;
    left: 29px;
    bottom: 26px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 166px;
    margin-right: 72px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -463px;
    margin-left: 72px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 443px;
    margin-top: -966px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-indicators-1 {
    left: 61px;
    bottom: 15px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 42px;
    margin-right: -38px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-2 {
    width: 418px;
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 57px;
    margin-left: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 457px;
  }

  .u-section-1 .u-shape-1 {
    height: 270px;
    width: 270px;
    margin-top: 220px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
    margin-top: -409px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-slider-1 {
    min-height: 402px;
    margin-top: -805px;
    margin-bottom: 388px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-carousel-indicators-1 {
    left: 30px;
    bottom: 44px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-left: 38px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 11px;
    margin-left: 38px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 31px;
    margin-left: 38px;
    padding: 10px 14px 10px 13px;
  }
}.u-block-2b9b-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-2b9b-3 {
  position: absolute;
  left: 0;
}

.u-block-2b9b-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-photo-3748201.jpeg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 760px;
  margin: 60px auto 0;
}

.u-section-2-1 .u-text-2 {
  width: 760px;
  margin: 30px auto 0;
}

.u-section-2-1 .u-layout-wrap-1 {
  width: 562px;
  margin: 31px auto 60px;
}

.u-section-2-1 .u-layout-cell-1 {
  min-height: 69px;
}

.u-section-2-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 0 auto;
  padding: 10px 31px 10px 30px;
}

.u-section-2-1 .u-layout-cell-2 {
  min-height: 73px;
}

.u-section-2-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 2px auto 0 0;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2-1 .u-text-1 {
    width: 720px;
  }

  .u-section-2-1 .u-text-2 {
    width: 720px;
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }

  .u-section-2-1 .u-text-2 {
    width: 540px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-2-1 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-text-1 {
    width: 340px;
  }

  .u-section-2-1 .u-text-2 {
    width: 340px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 340px;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-photo-374820.jpeg");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 760px;
  margin: 60px auto 0;
}

.u-section-2-2 .u-text-2 {
  width: 760px;
  margin: 30px auto 0;
}

.u-section-2-2 .u-layout-wrap-1 {
  width: 562px;
  margin: 31px auto 60px;
}

.u-section-2-2 .u-layout-cell-1 {
  min-height: 49px;
}

.u-section-2-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 0 auto;
  padding: 10px 31px 10px 30px;
}

.u-section-2-2 .u-layout-cell-2 {
  min-height: 49px;
}

.u-section-2-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2-2 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-2-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }

  .u-section-2-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2-2 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-2-2 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 340px;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-photo-374820.jpeg");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 760px;
  margin: 60px auto 0;
}

.u-section-2-3 .u-text-2 {
  width: 760px;
  margin: 30px auto 0;
}

.u-section-2-3 .u-layout-wrap-1 {
  width: 562px;
  margin: 31px auto 60px;
}

.u-section-2-3 .u-layout-cell-1 {
  min-height: 49px;
}

.u-section-2-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 0 auto;
  padding: 10px 31px 10px 30px;
}

.u-section-2-3 .u-layout-cell-2 {
  min-height: 49px;
}

.u-section-2-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2-3 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-2-3 .u-text-1 {
    width: 720px;
  }

  .u-section-2-3 .u-text-2 {
    width: 720px;
  }

  .u-section-2-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }

  .u-section-2-3 .u-text-2 {
    width: 540px;
  }

  .u-section-2-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2-3 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-2-3 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-text-1 {
    width: 340px;
  }

  .u-section-2-3 .u-text-2 {
    width: 340px;
  }

  .u-section-2-3 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 747px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  width: 798px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 638px;
  margin: 23px auto 0;
}

.u-section-3 .u-group-1 {
  min-height: 330px;
  margin-top: 157px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-list-1 {
  width: 967px;
  margin: -412px auto 285px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 188px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  color: rgb(0, 0, 0) !important;
  height: 64px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  color: rgb(0, 0, 0) !important;
  height: 64px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  color: rgb(0, 0, 0) !important;
  height: 64px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  color: rgb(0, 0, 0) !important;
  height: 64px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-icon-5 {
  width: 64px;
  color: rgb(0, 0, 0) !important;
  height: 64px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 182px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 465px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 785px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 275px;
}

.u-section-4 .u-slider-1 {
  min-height: 252px;
  width: 763px;
  margin: 0 auto 23px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 35px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 80px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: 19px;
  right: auto;
  position: absolute;
}

.u-section-4 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 19px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    height: auto;
  }

  .u-section-4 .u-carousel-control-2 {
    top: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 533px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 559px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }
}