@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --iconsbackground: #47a0ff;
    --newsbackclr: #ebebeb;
    --serc: #47c5ff98;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    position: relative;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: black; */
    min-height: 100vh;
}
div.row{
    padding-left: 150px;
}

.row .values {
    position: relative;
    width: 300px;
    height: 280px;
    background: var(--serc);
    border-radius: 15px;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.row .values .icons {
    top: 0;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(11, 62, 228);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;


}

.row .values:hover .icons {
    top: 30px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.row .values .icons i {
    font-size: 5rem;
    color: white;
}

.row .values:hover .icons i {
    font-size: 2rem;
}

.row .values .content {
    padding: 22px;
    margin-top: 0x;
    position: relative;
    z-index: 1;
    text-align: center;
    transform: scale(0);
    transition-delay: 0;
}

.card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
}

.row .values:hover .content {
    transform: scale(1);
    transition-delay: 0.25s;
}

.row .values .content h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.row .values .content,
p {
    color: rgb(5, 0, 0);
}

.first {
    background: blueviolet !important;
}

.second {
    background: #47a0ff !important;
}

.third {
    background: orangered !important;
}

.fourth {
    background: #880101 !important;
}

.fifth {
    background: #0743e9 !important;
}

.sixth {
    background: #710392 !important;
}
h4{
    color: #063c8d;
    text-transform: uppercase;

}
